.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
}
.form-box textarea {
  resize: none;
  padding: 10px;
  width: 280px;
  height: 55px;

  border-radius: 5px;
  background: rgba(14, 14, 14, 0.65);
  color: whitesmoke;
}
.form-box button {
  padding: 8px;
  width: 140px;

  border-radius: 5px;

  background: rgba(14, 14, 14, 0.55);
  color: whitesmoke;
}

@media (min-width: 768px) {
  .form-box {
    padding: 20px 0;
  }
  .form-box textarea {
    width: 320px;
    height: 80px;
  }
  .form-box textarea:focus {
    transform: scale(110%);
    transition: 0.2s;
  }
  .form-box button {
    padding: 10px;
    width: 160px;
    font-size: 12px;
  }
  .form-box button:hover {
    transform: scale(110%);
    transition: 0.2s;
    z-index: 1;
    background: rgb(14, 14, 14);
    box-shadow: 0 0 5px black;
  }
  .form-box button:active {
    transform: scale(100%);
  }
}
