.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.todo-list .todo-card {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 280px;
  height: 80px;

  background: rgb(14, 14, 14);
  border-right: 2px solid gray;
}

.todo-list .todo-card .task {
  width: 180px;
  height: 80px;
  padding: 5px 0;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  overflow: auto;
  word-break: break-all;
}

.todo-list .todo-card div p {
  color: whitesmoke;
}

.todo-list .todo-card button {
  padding: 5px;
  border-radius: 10px;
  width: 70px;
  color: whitesmoke;
  background: rgba(34, 34, 34, 0.75);
}

@media (min-width: 768px) {
  .todo-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .todo-list .todo-card {
    display: flex;
    justify-content: space-around;

    width: 460px;
    height: 100px;
  }
  .todo-list .todo-card .task {
    width: 70%;
    height: 100%;
  }
  .todo-list .todo-card div p {
    font-size: 14px;
  }

  .todo-list .todo-card button {
    width: 80px;
    padding: 10px;
  }
  .todo-list .todo-card button:hover {
    filter: brightness(1.25);
    transition: 0.2s;
    box-shadow: 0px 0px 5px rgb(27, 80, 27);
  }
  .todo-list .todo-card button:active {
    transform: scale(90%);
    transition: 0.2s;
  }
  .todo-list .todo-card:hover {
    transform: scale(110%);
    transition: 0.5s;
    box-shadow: 0 0 5px rgba(192, 192, 192, 0.507);
  }
}
