html,
body,
div,
ul,
li,
button,
textarea,
p {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  list-style: none;
}
button {
  cursor: pointer;
}
