body {
  background-color: rgb(35, 35, 35);
}

.App {
  height: 100vh;
}

/* Scroll */
::-webkit-scrollbar-track {
  background-color: rgb(14, 14, 14);
}
::-webkit-scrollbar-corner {
  background-color: rgb(14, 14, 14);
}
::-webkit-scrollbar {
  width: 2px;
  background: rgb(14, 14, 14);
}
::-webkit-scrollbar-thumb {
  background: #dad7d733;
  border-radius: 5px;
}
